footer {
  width: 99%;
  margin: 0.5%;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1%;
  color: grey;
  background-color: white;
  clear: left;
  text-align: center;
  font-family: sans-serif;
  z-index: 999;
}

.github {
  float: right;
  margin-right: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.magnifying {
  font-size: 30px;
  padding: 15px;
}

li {
  list-style: none;
}

h1 {
  font-size: 15px;
}

.icon-today {
  text-align: center;
  margin: 0 auto;
  inline: block;
}

#icon {
  margin: 0 auto;
}

.weather-forecast-week {
  text-align: center;
  margin: 0 auto;
}

.weather-forecast-week.col-2 {
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
}

.forecast-dates {
  text-align: center;
  inline: block;
}

#upcoming-week {
  text-align: center;
  inline: block;
  margin: 0 auto;
}
